.moon_phases_wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;

    width: 30vh;
    height: 30vh;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;

    .current_date {
        position: absolute;
        top: -40px;
        left: 0;
        color: white;
        text-align: left;
        font-weight: 600;
    }
    
    .current_date_hebrew {
        position: absolute;
        top: -70px;
        left: 0;
        color: white;
        text-align: left;
        font-weight: 600;
    }

}



.moon {
    width: 24vh;
    height: 24vh;
    border: 2px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    background-image: url("../../assets/moonImg.png");
    background-size: cover;
    transform: translateZ(0);
    overflow: hidden;
}

.left_hide {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 50%;
    background: black;
}
  
.disc {
    position: absolute;
    transform: rotateY(60deg);
    background: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 1px 1px 0 0 black;
}
  
.left_hide2 {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 70%;
    background: black;
}
  
.disc2 {
    position: absolute;
    transform: rotateY(80deg);
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: -65vh 0 0px 50vh black;
}
  
.disc3 {
    position: absolute;
    transform: rotateY(40deg);
    background: transparent;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 112vh 0 0 100vh black;
}
  
.right_hide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    background: black;
}
  
.disc4 {
    position: absolute;
    transform: rotateY(90deg);
    background: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}