.moon_wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition-timing-function: ease-out;

    .moon_picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
    }

    .moon_shadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        transform: rotate(-40deg);
        box-shadow: inset 2vh 1vh 1vh -1vh rgba(0, 0, 0, 0.8);
    }
}

.moon_wrapper_size_big {
    bottom: 10vh;
    right: 10vh;
    height: 20vh;
    width: 20vh;
}

.moon_wrapper_size_small {
    bottom: 10vw;
    right: 10vw;
    height: 20vw;
    width: 20vw;
}