.moon_phases_wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;

    width: 30vh;
    height: 30vh;
    border: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;

    .vertical_rooler {
        height: 30vh;
        width: 2px;
        background-color: white;
    }

    .moon_picture {
        position: absolute;
        width: 24vh;
        height: 24vh;
    }
    
    .moon_shadow_wrapper {
        position: absolute;
        width: 24vh;
        height: 24vh;
        border: 2px solid white;
        border-radius: 50%;

        display: flex;
        align-items: center;
        overflow: hidden;

        .moon_shadow {
            position: absolute;
            left: 0;
            width: 24vh;
            height: 24vh;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 12vh black, inset -8px 0px 13px black;
	        transform: translateX(0px);
        }

        .square {
            width: 24vh;
            height: 24vh;
            background-color: black;
            border-radius: 50%;
            transform: translateX(0px);
        }
    }

    .current_synodic_day {
        position: absolute;
        top: -70px;
        left: 0;
        color: white;
    }

    .current_date {
        position: absolute;
        top: -30px;
        left: 0;
        color: white;
    }
    
    .current_date_hebrew {
        position: absolute;
        top: -50px;
        left: 0;
        color: white;
    }

}