.virtual {
    width: 100vw;
    height: 100vh;
    background: rgb(208, 216, 230);
    color: black;

    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;


    .virtual_wrapper {
        
        .parent_wrapper {
            width: 500px;
            overflow-y: scroll;
            list-style-type: none;
            background: rgb(142, 209, 142);
            border: 2px solid black;
      
            .child_item:not(:last-child) {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #000;
              background: rgb(67, 67, 67);
              color: white;
              font-weight: 600;
            }
        
            .child_item:nth-child(2n) {
                background: rgb(98, 98, 98);
              }
        }
    }   

    .item_wrapper {
        width: 100%;
        border: 1px solid red;
        margin: 10px 0;
        box-shadow: 0 0 5px 0 black;
    }
}

.test_parser {
    background-color: white;
    color: black;
}

.audit_item {
    text-align: left;
    cursor: pointer;
}



.audit_time:hover {
    color: red;
}
.audit_type:hover {
    background-color: darkslategrey;
    color: gold;
}
.audit_title:hover {
    background-color: rgb(252, 252, 165);
    color: blue;
}
.audit_description:hover {
    background-color: white;
    color: purple;
}
.audit_arrays:hover {
    background-color: red;
    color: white;
}
.audit_rest:hover {
    background-color: blue;
    color: white;
}