.virtual {
    width: 100vw;
    height: 100vh;
    background: rgb(208, 216, 230);
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    .virtual_wrapper {
        
        .parent_wrapper {
            width: 500px;
            overflow-y: scroll;
            list-style-type: none;
            background: rgb(142, 209, 142);
            border: 2px solid black;
      
            .child_item:not(:last-child) {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #000;
              background: rgb(67, 67, 67);
              color: white;
              font-weight: 600;
            }
        
            .child_item:nth-child(2n) {
                background: rgb(98, 98, 98);
              }
        }
    }   

    .item_wrapper {
        width: 100%;
        border: 1px solid red;
        margin: 10px 0;
        box-shadow: 0 0 5px 0 black;
    }
}