.earth_wrapper {
    width: 7vw;
    height: 7vw;
    background-color: rgba($color: #00b6f8, $alpha: 0.6);

    .earth_secion{
        width: 100px;
        height: 100px;
        background-image: url("../../assets/earthImg.png");
        background-size: 6.5vw 6.5vw;
        z-index: 100;
    }
}

.elipse_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(114, 7, 152, 0.349);
    
    .earth_trajectory_surface {
        height: 200px;
        width: 600px;  
        border: 5px solid gold;
        background: rgba(38, 121, 222, 0.5);
        border-radius: 50%;
        position: absolute;
    }
}

.earth_to_sun_circle_diameter {
    height: 2px;
    width: 600px;    
    background: gold;
    position: absolute;
    transform: rotate(0deg);

    
    .wrapper_demo_xx {
        position: absolute;
        left: 0;
        width: 1px;
        height: 1px;
        position: absolute;
        z-index: 1;
    }
}


.earth_night_side {
    position: absolute;
    top: -8vh;
    left: -8vh;
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    box-shadow: inset 8vh 6vh 2vh -3vh rgba(0, 0, 0, 0.8);
    transform: rotate(-40deg);
    z-index: 2;
}