.earth_to_sun_circle_diameter {
    height: 2px;
    width: 600px;    
    background: gold;
    position: absolute;
    transform: rotate(0deg);
    transition-timing-function: ease-out;
    
    .wrapper_demo_xx {
        position: absolute;
        left: 0;
        width: 1px;
        height: 1px;
        position: absolute;
        z-index: 1;
    }
}


.earth_night_side_big {
    position: absolute;
    top: -4.7vh;
    left: -4.7vh;
    width: 9.5vh;
    height: 9.5vh;
    border-radius: 50%;
    box-shadow: inset 8vh 6vh 2vh -6vh rgba(0, 0, 0, 0.8);
    transform: rotate(-40deg);
    transition-timing-function: ease-out;
    z-index: 2;
}

.earth_night_side_small {
    position: absolute;
    top: -5vw;
    left: -5vw;
    width: 10.4vw;
    height: 10.4vw;
    border-radius: 50%;
    box-shadow: inset 12vw 6vh 2vh -6vh rgba(0, 0, 0, 0.8);
    transform: rotate(-40deg);
    transition-timing-function: ease-out;
    z-index: 2;
}