.board_wrapper {
    background-color: black;
    background-image: url("../../assets/skyImg.jpg");
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section_style { 
    width: 100px;
    height: 100px;
    background-image: url("../../assets/earthImg.png");
    background-size: 6.5vw 6.5vw;
    z-index: 100;
}

.earth_picture {
    width: 15vh;
    position: absolute;
    top: 3vh;
    left: 3vh;
    background-image: url("../../assets/earthImg.png");
}

.solar_system_and_calendar_wrapper {
    position: absolute;
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solar_system_and_calendar_wrapper_small {
    position: absolute;
    width: 90vw;
    height: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solar_system_medium_position {
    top: 100px;
}

.solar_system_small_position {
    top: 6vw;
}

.purple_filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(114, 7, 152, 0.349);
}