.calendar_visualisation_wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar_visualisation_img {
    position: absolute;
    width: 68vh;
    height: 68vh;
}

.calendar_visualisation_img_narrow {
    position: absolute;
    width: 80vw;
    height: 80vw;
}