.adjust_earth_to_sun_angle_wrapper {
    width: 70px;
    height: 70px;
    
    position: absolute;
    left: 5px;
    top: 10px;
}

.adjust_earth_to_sun_angle_wrapper_medium {
    width: 70px;
    height: 70px;
    
    position: absolute;
    left: 10px;
    bottom: 130px;
}

.adjust_earth_to_sun_angle_wrapper_small {
    width: 70px;
    height: 70px;
    
    position: absolute;
    left: 10px;
    bottom: 190px;
}


.increment_button {
    width: 30px;
    margin: 5px;
}

.increment_button_medium {
    width: 30px;
    margin: 5px;
}

.increment_button_small {
    width: 30px;
    margin: 5px;
}

.button_holder {
    background-color: rgba(255, 255, 255, 0.8);
    width: 130px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 5px 0;
}