.popup_sidebar_wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;

    width: 130px;
    height: 50px;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.popup_sidebar_wrapper_small {
    position: absolute;
    bottom: 40vh;
    left: 10px;
    background: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.width_big {
    height: 50px;
    width: 130px;
}

.width_small {
    height: 130px;
    width: 50px;
}