.sidebar_wrapper {
    min-width: 220px;
    width: 20vw;

    min-height: 400px;
    height: 50vh;
    
    margin: 10vh 10px;
    padding: 10px;
    border: #ffffff 2px solid;

    position: absolute;
    left: 0;
    top: 0;

    color: white;
    text-align: left;
}

.sidebar_wrapper_narrow {
    width: 30vh;
    height: 30vh;
    
    padding: 10px;
    border: #ffffff 2px solid;

    position: absolute;
    left: 0;
    bottom: 0;

    color: white;
    text-align: left;
}

.sidebar_wide_screen {
    position: absolute;
    width: 250px;
}

.sidebar_narrow_screen {
    position: absolute;
    width: 35vw;
}