$sidebar_background_color: rgb(136, 6, 136);

.sidebar_wrapper_big {
    width: 300px;
    min-height: 420px;
    height: 40vh;
    
    margin: 25vh 10px;
    padding: 10px;
    border: white 2px solid;
    background: $sidebar_background_color;

    position: absolute;
    left: 0;
    top: 0;

    color: white;
    text-align: left;
}

.sidebar_wrapper_medium {
    width: 100vw;
    height: 100vh;
    
    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;

    color: white;
    text-align: left;

    z-index: 1;
}

.sidebar_wrapper_small {
    width: 100vw;
    height: 100vh;
    
    padding: 10px;

    position: absolute;
    top: 0;
    left: 0;

    color: white;
    text-align: left;

    z-index: 1;
}

.sidebar_wide_screen {
    position: absolute;
    width: 250px;
}

.sidebar_narrow_screen {
    position: absolute;
    width: 35vw;
}

.close_sidebar {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;

    background-color: rgb(117, 5, 5);
    color: white;
    border: 1px solid white;
}

.close_sidebar:hover {
    background-color: rgb(203, 30, 30);
}

.close_sidebar:hover {
    background-color: rgb(77, 1, 1);
}

.sidebar_wrapper_holder_medium {
    width: 400px;
    padding: 10px;
    background: $sidebar_background_color;
    border: white 1px solid;
}

.sidebar_wrapper_holder_small {
    width: 90%;
    padding: 10px;
    background: $sidebar_background_color;
    border: white 1px solid;
    position: relative;
    top: 60px;
}