.position_absolute {
    position: absolute;
}

.font_size {
    font-size: calc(15px + 0.390625vw);
}

.large_title {
    color: white;
    text-align: left;
    font-weight: 600;
    font-size: calc(15px + 0.390625vw);
}

.ant-form-item-label {
    color: white;
}

.cursor_pointer {
    cursor: pointer;
}

.hover_effect {
    transform: scale(1);
}
.hover_effect:active {
    transform: scale(0.8);
}
.hover_effect:hover {
    transform: scale(1.2);
}

.display_flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_flex_h_center_v_top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}