.position_absolute {
    position: absolute;
}

.font_size {
    font-size: calc(15px + 0.390625vw);
}

.large_title {
    color: white;
    text-align: left;
    font-weight: 600;
    font-size: calc(15px + 0.390625vw);
}

.ant-form-item-label {
    color: white;
}